<footer class="{{#unless loggedIn}}secPdngT{{/unless}} {{#if loggedIn}}border-top{{/if}} animated" id="footer">
        <div class="container">
            {{#unless loggedIn}}
                <div class="row">
                        <div class="col-sm-3">
                                <div class="footerInfo col-md-9">
                                        <a href="/" class="logo"><img class="logo-custom" src="img/logo.png" alt=""></a>
                                </div>
                        </div>

                        
                        <div class="contact-form col-sm-6">
                                        <div class="h2 center" id="thankyou_message" style="display:none">
                                                Thanks! We will contact you soon.
                                        </div>
                                <div>
                                <form id="gform" action="https://script.google.com/macros/s/AKfycbzIwtriRJpaolooK7kqAgawzrAD09r7-rmD_c5le5XqaBrkFzIT/exec" method="post" class="contactForm">
                                                <div class="contactInput">
                                                        <input id="name" name="name" type="text" placeholder="Your name*">
                                                </div>
                                                <div class="contactInput">
                                                        <input id="email" name="email" type="email" placeholder="Your email*">
                                                </div>
                                                <div class="contactInput">
                                                        <input id="phoneNo" name="phoneNo" type="text" placeholder="Phone number*">
                                                </div>
                                                <div class="contactSelec">
                                                </div>
                                                <div class="contactMsg">
                                                        <textarea id="contactMsg" name="message" placeholder="Type your message"></textarea>
                                                </div>
                                                <div class="contactSubmit">
                                                        <input id="submit" name="submit" type="submit" value="Send us message">
                                                </div>
                                                <div id="form-messages"></div>
                                        </form>
                                </div>

                         </div>
                       
                                        <!--    <div class="footerTxt">
                                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui smod tincidunt ut laoreet dolore magna.</p>
                                                </div> -->
                                        <!--    <ul class="footerLinkIcon">
                                                        <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                                        <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                                        <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
                                                        <li><a href="#"><i class="icofont icofont-social-tumblr"></i></a></li>
                                                        <li><a href="#"><i class="icofont icofont-social-yelp"></i></a></li>
                                                </ul> -->
                        <!-- <div class="col-sm-3">
                                <div class="widget">
                                         <div class="h4">Important Links</div>
                                                 <ul class="footerLink">
                                                        <li><a href="#">Support</a></li>
                                                        <li><a href="#">Privacy & Policy</a></li>
                                                        <li><a href="#">Terms & Conditions</a></li>
                                                        <li><a href="#">VPN Service</a></li>
                                                        <li><a href="#">Dedicated Server</a></li>
                                                </ul>
                                </div>
                        </div>
                        <div class="col-sm-3">
                                <div class="widget">
                                        <div class="h4">out pertners</div>
                                                 <ul class="footerLink">
                                                        <li><a href="#">ThemeForest</a></li>
                                                        <li><a href="#">GraphicRiver</a></li>
                                                        <li><a href="#">AudioJungle</a></li>
                                                        <li><a href="#">3DOcean</a></li>
                                                        <li><a href="#">CodeCanayon</a></li>
                                                </ul>
                                </div>
                        </div> -->
                        <div class="col-sm-3">
                                <div class="contactInfo">
                                        <!-- <div class="h4">contact with us</div>  -->
                                                <!-- <span class="call"><a href="tel:+44-7450252303"><i class="icofont icofont-ui-call"></i>+44-7450252303</a></span>
                                                --><span class="email"><a href="mailto:support@mytaplo.com"><i class="icofont icofont-ui-v-card"></i>support@mytaplo.com</a></span>

                                </div>
                        </div>
                </div>
          {{/unless}}
                <div class="row">
                        <div class="col-md-12">
                                <div class="copyrightTxt">
                                        <p>&copy; Copyright 2018 MyTaplo</p>
                                        <p>All Rights Reserved</p>
                                </div>
                        </div>
                </div>
        </div>
    </footer>
