<footer class="{{#unless loggedIn}}secPdngT{{/unless}} {{#if loggedIn}}border-top{{/if}} animated" id="footer">
                <div class="row">
                        <div class="col-md-12">
                                <div class="copyrightTxt">
                                        <p>&copy; Copyright 2018 Seawise Capital</p>
                                        <p>All Rights Reserved</p>
                                </div>
                        </div>
                </div>
    </footer>
