<header>
         <!-- <div class="headerTopArea">
                <div class="container">
                        <div class="row">
                                <div class="col-md-5 col-sm-2 col-xs-5">
                                        <div class="langOpt">
                                        <span class="langIcon"><span class="langCode">en</span><i class="icofont icofont-caret-down"></i> </span>
                                                <ul class="lang">
                                                         <li data-code="en">english</li>
                                                        <li data-code="bn">bengali</li>
                                                        <li data-code="ar">aribic</li>
                                                        <li data-code="da">dansk</li>
                                                </ul>
                                        </div>
                                </div>
                                <div class="col-md-7 col-sm-10 col-xs-7">
                                        <ul class="topInfo">
                                                <li class="call"><a href="tel:+44-7450252303"><i class="icofont icofont-ui-call"></i>+44-7450252303</a></li>
                                                <li class="email"><a href="mailto:support@mytaplo.com"><i class="icofont icofont-ui-v-card"></i>support@mytaplo.com</a></li>
                                                        <li class="clientAreaLi"><span><i class="icofont icofont-user-alt-3"></i>Client area</span></li>
                                        </ul>
                                        <div class="clientLogin">
                                                <form action="login.php" method="post">
                                                        <div class="closeBtn"><i class="icofont icofont-close"></i></div>
                                                        <div class="h5">sign in</div>
                                                        <div class="userName"><input name="userName" placeholder="Username" type="text"></div>
                                                        <div class="password"><input name="password" placeholder="Password" type="password"></div>
                                                        <input type="submit" value="sign in">
                                                        <div class="h5">Forgot Passsword? <a href="#">Click here</a></div>
                                                        <div class="logBtm">
                                                                <div class="h5">Don’t have an account yet?</div>
                                                                <a href="#" class="signUp">Click here to sign up.</a>
                                                        </div>
                                                </form>
                                        </div>
                                </div>
                        </div>
                </div>
        </div> -->
        <div class="headerBottomArea">
                <div class="container">
                        <div class="row">
                                <div class="col-md-2 col-sm-3 col-xs-9">
                                        <a href="/" class="logo"><img class="logo-custom" src="img/logo.png" alt=""></a>
                                </div>
                                <div class="col-md-10 menuCol col-sm-10 col-xs-10">
                                                <div class="navbar-header">
                                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                                                <span class="sr-only"></span>
                                                                <i class="fa fa-navicon"></i>
                                                        </button>
                                                </div>
                                        <nav id="navbar" class="collapse navbar-collapse">
                                                <ul id="nav">
                                                        <li class="current-menu-item"><a href="#">Home</a>
                                                        <!--    <ul class="sub-menu">
                                                                        <li><a href="index-1.html">Home Version 01</a></li>
                                                                        <li><a href="index-2.html">Home Version 02</a></li>
                                                                </ul> -->
                                                        </li>
                                                        <li><a href="#features_section" class="header-link">Product Features</a></li>
                                                        <li><a class="header-link" href="#plan_section">Customers</a>
                                                                <!--    <ul class="sub-menu">
                                                                        <li><a href="webHosting.html">web hosting</a></li>
                                                                        <li><a href="cloudHosting.html">cloud hosting</a></li>
                                                                        <li><a href="vpnHosting.html">vpn hosting</a></li>
                                                                        <li><a href="sharedHosting.html">shared hosting</a></li>
                                                                        </ul> -->
                                                        </li>
                                                        <!-- <li class="dropdown-megamenu"><a href="#">pages</a>
                                                                <ul class="mega-menu clearfix">
                                                                                <li class="mMenuCol">
                                                                                        <ul class="menuRow">
                                                                                                <li><a href="index-1.html">homepage v1</a></li>
                                                                                                <li><a href="index-2.html">homepage v2</a></li>
                                                                                        </ul>
                                                                                        <ul class="menuRow">
                                                                                                <li><a href="about.html">about</a></li>
                                                                                                <li><a href="domainSearch.html">domain search</a></li>
                                                                                                <li><a href="webHosting.html">web hosting</a></li>
                                                                                                <li><a href="cloudHosting.html">cloud hosting</a></li>
                                                                                                <li><a href="vpnHosting.html">vpn hosting</a></li>
                                                                                        </ul>
                                                                                </li>
                                                                                <li class="mMenuCol">
                                                                                        <ul class="menuRow">
                                                                                                <li><a href="accountManage.html">My account</a></li>
                                                                                                <li><a href="domainManage.html">domain settings</a></li>
                                                                                                <li><a href="hostManage.html">hosting settings</a></li>
                                                                                        </ul>
                                                                                        <ul class="menuRow">
                                                                                                <li><a href="testimonial.html">testimonial</a></li>
                                                                                                <li><a href="faq.html">faq</a></li>
                                                                                                <li><a href="support.html">support</a></li>
                                                                                                <li><a href="contact.html">contact</a></li>
                                                                                        </ul>
                                                                                </li>
                                                                                <li class="mMenuCol">
                                                                                        <ul class="menuRow">
                                                                                                <li><a href="cart.html">cart</a></li>
                                                                                                <li><a href="checkout.html">checkout</a></li>
                                                                                        </ul>
                                                                                        <ul class="menuRow">
                                                                                                <li><a href="blog.html">blog</a></li>
                                                                                                <li><a href="single-blog.html">single blog</a></li>
                                                                                        </ul>
                                                                                        <ul class="menuRow">
                                                                                                <li><a href="comingSoon.html">coming soon</a></li>
                                                                                                <li><a href="404.html">404</a></li>
                                                                                        </ul>
                                                                                </li>
                                                                                <li class="mMenuCol">
                                                                                        <div class="menuDiscount">
                                                                                                <div class="discountImg"><img src="img/icon/menu-img.png" alt=""></div>
                                                                                                <span>10% discount on</span>
                                                                                                <div class="h3">any hosting</div>
                                                                                                <a href="#">Try it now!</a>
                                                                                        </div>
                                                                                </li>
                                                                </ul>
                                                        </li> -->
                                                        <li><a href="#press_section" class="header-link">Press</a></li>
                                                <!--    <li><a href="#">Blog</a>
                                                                        <ul class="sub-menu">
                                                                        <li><a href="blog.html">Blog</a></li>
                                                                        <li><a href="single-blog.html">single blog</a></li>
                                                                        </ul>
                                                        </li>  -->
                                                        <li><a href="#footer" class="header-link">SIGN UP</a></li>
                                                </ul>
                                        </nav>
                                </div>
                        <!--    <div class="col-md-1 cartCol">
                                        <a href="cart.html" class="cart">
                                                <span class="count">3</span>
                                                <i class="icofont icofont-cart-alt"></i>
                                        </a>
                                </div>  -->
                                </div>
                </div>
        </div>
    </header>