<div class="row brcForm">
	<div class="col-md-4"></div>
	<div class="col-sm-6">
	<form class="contactForm" action="">
		<div class="contactInput">
			<input id="iec_code" name="iec" type="text" placeholder="Enter IEC code"/>
		</div>

		<div class="contactSubmit">
        	<input id="iec_submit" name="submit" type="submit" value="Fetch Data">
        </div>
	</form>
	</div>
	<div class="col-sm-2"></div>
</div>
<div id="loader" style="display:none;"><img class="loader" src="/img/loading.gif"/> </div>
<div class="row" id="data-table" style="display:none;">
	<ul class="cartTable">
    	
    </ul>
</div>

<script type="text/javascript">

	$(document).ready(function(){

		String.prototype.splice = function(idx, rem, str) {
    		return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
		};

		$('#iec_submit').click(function(){
			var iecVal = $('#iec_code').val();
			$('#loader').show();
			$('.cartTable').html('');
			$.get("/seawise/getdata?iec_code="+iecVal+"&count=200", function(response){
				console.log("Got data", response);
				$('#data-table').show();
				data = response.results.data;
				console.log("here is the data", data);
				$('.cartTable').append("<li class=\"cartHead clearfix\">"+
            						   "<div class=\"col-sm-1\">BRC Date</div>" +
								       "<div class=\"col-sm-1\">Bill Id</div>" +
								       "<div class=\"col-sm-1\">SHB No</div>" +
								       "<div class=\"col-sm-1\">BRC Utilisation</div>" +
								       "<div class=\"col-sm-1\">Port name</div>" +
								       "<div class=\"col-sm-1\">CHA No</div>" +
								       "<div class=\"col-sm-1\">Job No</div>" +
								       "<div class=\"col-sm-1\">Job Date</div>" +
								       "<div class=\"col-sm-1\">Port of discharge</div>" +
								       "<div class=\"col-sm-1\">Total package</div>" +
								       "<div class=\"col-sm-1\">Gross Weight</div>" +
								       "<div class=\"col-sm-1\">FOB(INR)</div>" +
						       		   "</li>");
				for(var u=0;u<data.length;u++){
        			var row = data[u];
        			var billId = row['Bill ID'];
        			var cha = row['CHA No.'];
        			if(billId && billId.length > 8){
        				row['Bill Id'] = billId.splice(7, 0, " - ");
        			}
        			if(cha && cha.length > 9){
        				row['CHA No.'] = cha.splice(8, 0, " - ");
        			}
        			$('.cartTable').append("<li class=\"singleIteam clearfix category-host\"> \
        					<div class=\"col-sm-1 brcli\">" + row['BRC Date'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['Bill ID'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['SHB No'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['BRC Utilisation Status'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['PortName'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['CHA No.'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['Job No.'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['Job Date'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['Port of Discharge'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['Total Package'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['Gross Weight'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['FOB(INR)'] + "</div>  \
        				</li> \
        			");
        			
      			}
			}).always(function(){
				$('#loader').hide();
			});
			return false;
		});
	});
</script>