<div class="row brcForm">
	<div class="col-md-4"></div>
	<div class="col-sm-6">
	<form class="contactForm" action="">
		<div class="contactInput">
			<input id="iec_code" name="iec" type="text" placeholder="Enter IEC code"/>
		</div>

		<div class="contactSubmit">
        	<input id="iec_submit" name="submit" type="submit" value="Fetch Data">
        </div>
	</form>
	</div>
	<div class="col-sm-2"></div>
</div>
<div id="loader" style="display:none;"><img class="loader" src="/img/loading.gif"/> </div>
<div class="row" id="data-table" style="display:none;">
	<ul class="cartTable">
    	<li class="cartHead clearfix">
            <div class="col-sm-1">BRC Date</div>
            <div class="col-sm-1">Bill Id</div>
            <div class="col-sm-1">SHB No</div>
            <div class="col-sm-1">BRC Utilisation</div>
            <div class="col-sm-1">Port name</div>
            <div class="col-sm-1">CHA No</div>
            <div class="col-sm-1">Job No</div>
            <div class="col-sm-1">Job Date</div>
            <div class="col-sm-1">Port of discharge</div>
            <div class="col-sm-1">Total package</div>
            <div class="col-sm-1">Gross Weight</div>
            <div class="col-sm-1">FOB(INR)</div>                           
        </li>
    </ul>
</div>

<script type="text/javascript">

	$(document).ready(function(){

		String.prototype.splice = function(idx, rem, str) {
    		return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
		};

		$('#iec_submit').click(function(){
			var iecVal = $('#iec_code').val();
			$('#loader').show();
			$.get("/seawise/getdata?iec_code="+iecVal+"&count=20", function(response){
				console.log("Got data", response);
				$('#data-table').show();
				/*response = "{\"status\":\"Success\",\"message\":\"\",\"results\":{\"data\":[{\"BRC Date\":\"04.08.2018\",\"BRC Status\":\"Active\",\"Bill ID\":\"061900012410118\",\"SHB No\":\"6503093\",\"SHB Port\":\"INDER6\",\"SHB Date\":\"17.03.2016\",\"BRC Utilisation Status\":\"Available\",\"PortName\":\"DADRI ICD (INDER6)\",\"IEC\":\"0502038543\u00A0\",\"CHA No.\":\"AAOCS5607GCH001\u00A0\",\"Job No.\":\"4232519\u00A0\",\"Job Date\":\"17 MAR 2016 12:03\u00A0\",\"Port of Discharge\":\"VNHPH\u00A0\",\"Total Package\":\"725\u00A0\",\"Gross Weight\":\"29145\u00A0\",\"FOB(INR)\":\"5263006.45\u00A0\",\"Total Cess\":\"0\u00A0\",\"Drawback\":\"52631\u00A0\",\"STR\":\"0\u00A0\",\"Total (DBK+STR)\":\"52631\u00A0\",\"Reward Flag\":\"Click here to view item wise reward details\u00A0\"}]}}";*/
				data = resonse.results.data;
				console.log("here is the data", data);
				for(var u=0;u<data.length;u++){
        			var row = data[u];
        			$('.cartTable').append("<li class=\"singleIteam clearfix category-host\"> \
        					<div class=\"col-sm-1 brcli\">" + row['BRC Date'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['Bill ID'].splice(7, 0, " - ") + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['SHB No'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['BRC Utilisation Status'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['PortName'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['CHA No.'].splice(8, 0, " - ") + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['Job No.'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['Job Date'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['Port of Discharge'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['Total Package'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['Gross Weight'] + "</div> \
				            <div class=\"col-sm-1 brcli\">" + row['FOB(INR)'] + "</div>  \
        				</li> \
        			");
        			
      			}
			}).always(function(){
				$('#loader').hide();
			});
			return false;
		});
	});
</script>