<div class="homeArea animated">
        <div class="container">
                <div class="row">
                        <div class="col-md-6">
                                <div class="homeContent">
                                        <span class="topTxt">Freeze Rupee &nbsp; - &nbsp; Free Software &nbsp; - &nbsp; Protect your Profits</span>
                                        <span class="h2 homeTitle">LOCK YOUR FOREX RATES TODAY!</span>
                                        <p>If you send or receive International payments, then you carry Forex Risk <br>Don’t lose money
due to Rupee volatility <br> Freeze the future rates : USD-INR | GBP-INR | EUR-INR</p>
                                        <div class="homeBtn">
                                                <a href="#footer" class="btnOne Btn header-link"><i class="icofont icofont-rocket-alt-2"></i>SIGN UP TODAY</a>
                                                <a href="#" class="btnTwo Btn">FREE FIRST 10 TRANSACTIONS</a>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="homeImgTable">
                                                <div class="homeImg">
                                                        <img src="img/home-dsk-1.png" alt="">
                                                </div>
                                </div>
                        </div>
                </div>
                        <div class="clouds">
                                <img src="img/clouds/cloud-1.png" alt="" class="cloud1">
                                <img src="img/clouds/cloud-2.png" alt="" class="cloud2">
                                <img src="img/clouds/cloud-3.png" alt="" class="cloud3">
                                <img src="img/clouds/cloud-4.png" alt="" class="cloud4">
                                <img src="img/clouds/cloud-5.png" alt="" class="cloud5">
                        </div>
        </div>
 </div>


 <div class="serviceArea secPdng animated" id="features_section">
        <div class="container">
                <div class="row">
                        <div class="col-md-12">
                                        <div class="sectionTitle">
                                                <div class="h2">Why is our Product Amazing! <br>Apart from the fact that it is <span>Free!</span></div>
                                        </div>
                        </div>
                </div>
                <div class="row service">
                        <div class="col-md-4 col-sm-4">
                                <div class="singleService">
                                        <div class="serviceIcon">
                                                <img src="img/icon/serv-04.png" alt="">
                                        </div>
                                        <div class="serviceContent">
                                                <span class="h3">Automatic Hedging</span>
                                                <p>One click solution<br >No painful process of dealing with Banks</p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                                <div class="singleService">
                                        <div class="serviceIcon">
                                                <img src="img/icon/cloud-up.png" alt="">
                                        </div>
                                        <div class="serviceContent">
                                                <span class="h3">Cloud based SaaS</span>
                                                <p>100% price transparency<br/>Real-time analytics and reporting</p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                                <div class="singleService">
                                        <div class="serviceIcon">
                                                <img src="img/icon/care-support.png" alt="">
                                        </div>
                                        <div class="serviceContent">
                                                <span class="h3">24/7 customer support</span>
                                                <p>International support team in UK and India<br >Round the clock support – phone, whatsapp, email</p>
                                        </div>
                                </div>
                        </div>
                <div class="col-md-4 col-sm-4">
                    <div class="singleService">
                        <div class="serviceIcon">
                            <img src="img/icon/serv-06.png" alt="">
                        </div>
                        <div class="serviceContent">
                            <span class="h3">Consolidated Forex View</span>
                            <p>See real time Forex exposure <br >Multi Currency Support</p>
                        </div>
					</div>	
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="singleService">
                        <div class="serviceIcon">
                            <img src="img/icon/gear.png" alt="">
                        </div>
                        <div class="serviceContent">
                            <span class="h3">ERP Systems Integration</span>
                            <p>Easily configurable with your existing ERP system <br >Single view + Automatic risk management</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="singleService">
                        <div class="serviceIcon">
                            <img src="img/icon/serv-05.png" alt="">
                        </div>
                        <div class="serviceContent">
                            <span class="h3">RBI and SEBI compliant</span>
                            <p>All hedges are placed under applicable guidelines<br >No counterparty risk</p>
                        </div>
                    </div>
                </div>
                </div>
    	</div>
</div>
    <div class="pricingArea secPdng animated" id="plan_section">
        <div class="container">
                <div class="row">
                        <div class="col-md-12">
                                <div class="sectionTitle">
                                        <div class="h2">Do you have <span>Forex</span> Risk? Does your Company deal with International clients?</div>
                                </div>
                        </div>
                </div>
                <div class="row">
                                <div class="price clearfix">
                                        <div class="col-md-4 priceCol col-sm-4 col-sm-offset-0">
                                                <div class="singlePrice">
                                                        <div class="priceHead">
                                                                <span class="priceTitle">Importer</span>
                                                                <div class="priceImg">
                                                                        <img src="img/icon/users.png" alt="">
                                                                </div>
                                                                <!-- <div class="currency">FREE<span>/mo</span></div> -->
                                                                <p></p>
                                                        </div>
                                                        <ul class="priceBody">
                                                                <li><i class="icofont icofont-ui-checki"></i>You import international goods into India</li>
                                                                <li><i class="icofont icofont-ui-checki"></i>You receive payments in INR upon sale</li>
                                                                <li><i class="icofont icofont-ui-checki"></i>You need to pay your supplier in FOREX</li>
                                                                <li><i class="icofont icofont-ui-closei"></i>If INR depreciates, your COST of FOREX will INCREASE – directly affecting your profit! </li>
                                                        </ul>
                                                        <a href="#footer" class="priceBtn Btn header-link">Get Started now</a>
                                                </div>
                                        </div>
                                        <div class="col-md-4 priceCol col-sm-4">
                                                <div class="singlePrice">
                                                        <div class="priceHead">
                                                                <span class="priceTitle">Exporter</span>
                                                                <div class="priceImg">
                                                                        <img src="img/icon/users.png" alt="">
                                                                </div>
                                                                <!-- <div class="currency">FREE<span>/mo</span></div> -->
                                                                <p></p>
                                                        </div>
                                                        <ul class="priceBody">
                                                                <li><i class="icofont icofont-ui-checki"></i>You sell Indian goods abroad</li>
                                                                <li><i class="icofont icofont-ui-checki"></i>You receive payments internationally in FOREX</li>
                                                                <li><i class="icofont icofont-ui-checki"></i>You need to pay your suppliers in INR</li>
                                                                <li><i class="icofont icofont-ui-closei"></i>If INR appreciates, your FOREX is worth less – impacting your profit!</li>
                                                        </ul>
                                                        <a href="#footer" class="priceBtn Btn header-link">Get Started now</a>
                                                </div>
                                        </div>
                                        <div class="col-md-4 priceCol col-sm-4 col-sm-offset-0">
                                                <div class="singlePrice">
                                                       <div class="priceHead">
                                                                <span class="priceTitle">IT Company</span>
                                                                <div class="priceImg">
                                                                        <img src="img/icon/home.png" alt="">
                                                                </div>
                                                                <!-- <div class="currency">FREE<span>/mo</span></div> -->
                                                                <p></p>
                                                        </div>
                                                        <ul class="priceBody">
                                                                <li><i class="icofont icofont-ui-checki"></i>You sell software globally</li>
                                                                <li><i class="icofont icofont-ui-checki"></i>You just signed a contract with a foreign client, and will receive FOREX payment upon completion</li>
                                                                <li><i class="icofont icofont-ui-closei"></i>If INR appreciates, your FOREX is worth less – impacting your profit!</li>
                                                        </ul>
                                                        <a href="#footer" class="priceBtn Btn header-link">Get Started now</a>
                                                </div>
                                        </div>
                                </div>
                </div>
        </div>
    </div>

<div class="hTstArea secPdng  animated" id="press_section">
        <div class="container">
                <div class="row">
                        <div class="sectionTitle">
                                <div class="h2">From the Press <br>The importance of <span>Locking and Hedging your forex</span></div>
                        </div>
                </div>
                <div class="row">
                        <div class="tstSlider owl-carousel">
                                <div class="col-sm-12 singleTstSlide">
                                                <div class="singleTst">
                                                <!--    <p>"RBI urges companies to hedge FX exposure”</p> -->
                                                        <span class="clientName">RBI urges companies to hedge FX exposure</span>
                                                        <a href="https://www.reuters.com/article/india-currency-hedging-idINKBN0L30IN20150130" target="_blank">https://www.reuters.com/article/india-currency-hedging-idINKBN0L30IN20150130</a>
                                                </div>
                                </div>
                                <div class="col-sm-12 singleTstSlide">
                                                <div class="singleTst">
                                        <!--            <p>“Duis aut qui blandit praesent luptatum zzril delenit augue duis dolore.”</p>   -->
                                                        <span class="clientName">What is Currency Hedging</span>
                                                        <a href="https://www.indianeconomy.net/splclassroom/what-is-currency-hedging/" target="_blank">https://www.indianeconomy.net/splclassroom/what-is-currency-hedging/</a>
                                                </div>
                                </div>
                                <div class="col-sm-12 singleTstSlide">
                                                <div class="singleTst">
                                        <!--            <p>“Duis aut accumsan et igue duis dolore.”</p>   -->
                                                        <span class="clientName">Most Indian firms under-hedged, vulnerable to FX risk</span>
                                                        <a href="https://in.reuters.com/article/india-company-fxhedge/most-indian-firms-under-hedged-vulnerable-to-fx-risk-india-ratings-idINKBN1581CC" target="_blank">https://in.reuters.com/article/india-company-fxhedge/most-indian-firms-under-hedg......</a>
                                                </div>
                                </div>
                                <!-- <div class="col-sm-12 singleTstSlide">
                                                <div class="singleTst">
                                                        <p>“Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie conse quat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.”</p>
                                                        <span class="clientName">David Ramon</span>
                                                        <a href="#">www.sitename.com</a>
                                                </div>  -->
                                </div>
                        </div>
                </div>
       </div>
 </div>





