<div class="container secPdng animated">
  <div class="login-form">
    <span class="h3">Sign in</span>
    <form action="/login" method="POST" class="accountForm">
              <div class="row">
                <div class="col-sm-12">
                  <div class="accountInput">
                    <div class="h5">Email:</div>
                    <input type="text" name="username" placeholder="Enter your email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="accountInput">
                    <div class="h5">Password:</div>
                    <input type="password" name="password" placeholder="*********">
                  </div>
                </div>
              </div>
              <div class="row">  
                <div class="col-sm-12">
                  <div class="submitBtn">
                    <input type="submit" value="Sign in">
                  </div>
                </div>
              </div>
    </form>

  </div>
</div>